*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
header{
    background-color: rgba(86, 234, 234, 0.741);
    height: 100px;
    display:flex;
    justify-content: center;
    padding-top: 25px;
}
.container{
    border: 2px dashed black;
    height: 50px;
    background-color: rgb(202, 205, 50);
    padding-top:10px;
}
.logo, 
.login{
    width: 20%;
}
.login{
    text-align: right;
}
.link{
    width:40%;
}
ul{
    display:flex;
    list-style-type:none;
    justify-content: center;
}