*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
header{
    background-color: rgba(86, 234, 234, 0.741);
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px dashed black;
    height: 50px;
    background-color: rgb(202, 205, 50);
    padding-top:10px;
}
.logo, 
.login{
    width: 20%;
}
.login{
    text-align: right;
}
.link{
    width:40%;
}
ul{
    display:flex;
    list-style-type:none;
    justify-content: center;
}
.sezioneuno{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.viola{
    background-color: rgb(217, 142, 217);
    border:2px dashed black;
    width:70%;
    height: 500px;
}

.sezionedue,
.sezionetre{
    background-color: rgba(255, 255, 255, 0.91);
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.azzurro{
    width:50%;
    height:600px;
    border:2px dashed black;
    background-color:rgba(51, 125, 227, 0.801);
}
.rosa{
    width:30%;
    height:600px;
    border:2px dashed black;
    background-color:pink;
}