*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
header{
    background-color: #ADD8E6;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 3px dashed black;
    height: 50px;
    background-color: #DAA520;
    padding-top:10px;
}
.logo, 
.login{
    width: 20%;
}
.login{
    text-align: right;
}
.link{
    width:40%;
}
ul{
    display:flex;
    list-style-type:none;
    justify-content: center;
}
.sezioneuno{
    background-color: #00008B;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.viola{
    background-color: #EE82EE;
    border:3px dashed black;
    width:70%;
    height: 400px;
}

.sezionedue,
.sezionetre,
.sezionequattro,
.sezionecinque,
.sezionesei{
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sezionetre,
.sezionecinque{
    background-color:#D3D3D3;
}
.sezionesei{
    background-color: #23272A;
    border-bottom:3px solid grey;
}

.azzurro{
    width:50%;
    height:500px;
    border:3px dashed black;
    background-color:#1E90FF;
}
.rosa{
    width:30%;
    height:500px;
    border:3px dashed black;
    background-color:#FFC0CB;
}

.verde{
    width:80%;
    height:650px;
    background-color: #228B22;
    border:3px dashed black;
}

.acqua{
    width:13%;
    height:650px;
    background-color:#20B2AA;
    border:3px dashed white;
}
.rosascuro{
    width:28%;
    height:650px;
    background-color:#F08080;
    border:3px dashed black;
}

footer{
    background-color: #23272A;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.containerfooter{
    border: 3px dashed black;
    height: 50%;
    width:5%;
    background-color: #FFB6C1;
    line-height: 2rem;

}
.containerpadrefooter{
    background-color: #7FFFD4;
    width:80%;
    height: 80px;
    padding-top:10px;
    display:flex;
    justify-content: space-between;
}